{% extends "cabs/layout.html" %}

{% block body %}

    <h1> Cabs {{ cab.id }}</h1>

    <ul>
        <li> Pick : {{ cab.pick }} </li>
        <li> Drop : {{ cab.drop }} </li>
        <li> Cost : {{ cab.cost }}</li>
    </ul>

    <h2> Passangers </h2>

    <ul>
        {% for passanger in passangers %}
            <li>{{passanger}}</li>

        {% empty %}
            <li>No Passangers.</li>
        {% endfor %}
    </ul>

    <h2> Add Passanger </h2>

    <form action="{% url 'book' cab.id %}" method = "post">
        {% csrf_token %}
        <select name="passanger">
            {% for passanger in non_passangers %}
                <option value="{{passanger.id }}">{{passanger}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <a href="{% url 'index'  %}">Back to Cabs List</a>

{% endblock %}